/* место для вашего кода */

.header {
    margin: auto;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: start;
    margin-bottom: 96px;
}

.menu {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 133px;
    gap: 34px;
}

.menu__link {
    font-family: "Raleway", "arial";
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    list-style-type: circle;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 1px;
    text-align: center;
}

.logo {
    margin-top: 93px;
    width: 148px;
    height: 105px;
    margin-left: 36px;
    margin-right: 184px;
}

.contacts {
    width: 240px;
    margin-top: 95px;
    gap: 1px;
}

.address__header {
    margin-top: 95px;
}

.address {
    height: 98px;
    width: 240px;

    gap: 1px;
}

.address__link {
    width: 260px;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    line-height: 24.3px;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 5px;
}

.address__link-width {
    width: 240px;
}

.text-underline-none {
    text-decoration: none;
}

/*начало секции "COVER" */

.cover {
    display: flex;
    flex-direction: column;
    z-index: 2;
    width: 100%;
    min-height: 757px;
    background-image: url(../images/cover.jpg);
    background-size: cover;
    opacity: 1;
    position: relative;
    justify-content: space-between;

}

.background-black {
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.title {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 1000px;
    margin-top: 165px;
    margin-left: 50px;
    margin-right: 50px;
    gap: 21px;
}

.title__list {
    color: white;
    font-family: 'Raleway';
    font-weight: 700;
    font-style: normal;
    font-size: 100px;
    line-height: 114.99999999999999%;
    text-transform: uppercase;
    letter-spacing: 30px;
}

.title__list:nth-child(2) {
    text-align: center;
    margin-left: 30px;
}

.title__list:nth-child(3) {

    text-align: right;
}

.letter-spacing {
    letter-spacing: 0;
}

.discription {
    display: flex;
    flex-direction: row;
    width: 1000px;
    margin-left: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    justify-content: space-between;
}

.cover__subline {
    align-content: center;
    color: white;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: Regular;
    font-size: 22px;
    line-height: 28px;
    letter-spacing: 0%;
    text-transform: uppercase;
    word-spacing: 19px;
}

.cover__button {
    align-content: center;
    width: 256px;
    min-height: 51px;
    color: white;
    border: 1px solid white;
    font-family: 'Raleway';
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;


}

/* сдесь начинаются лоты :D */

.lots {
    margin: 180px 24px 0;
    gap: 24px;
    display: grid;
    width: 1052px;
    grid-template-columns: minmax()*3;
    grid-template-rows: minmax()*3;
}

.lots__title {
    margin-left: 40px;
    margin-top: 3px;
    margin-bottom: 6px;
    font-family: 'Raleway';
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
    grid-column: 1/4;
    width: 100%;
}

.lots__subtitle {
    grid-column: 1/3;
    margin-left: 40px;
    margin-top: 8px;
    font-family: 'Raleway';
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    text-decoration: underline;

}

.lot {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    opacity: 1;
    background-color: #000000;
    z-index: 2;
    width: 334px;
    min-height: 596px;
    opacity: 1;
    background-image: url(../images/card-lot-01.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.lot:nth-child(2) {
    background-image: url(../images/card-lot-02.jpg);
}

.lot:nth-child(3) {
    background-image: url(../images/card-lot-03.jpg);
}

.lot__title {
    font-family: 'Raleway';
    color: white;
    font-weight: 700;
    font-style: Bold;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    margin: 48px 40px auto 40px;
}

.lot__paragragh {
    font-family: 'Raleway';
    color: white;
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 120%;
    letter-spacing: 0%;
    margin: auto 40px 48px 40px;

}

/* сдесь кончаются лоты  */

.about {
    width: 1052px;
    display: flex;
    margin: 120px auto 0 auto;
    justify-content: space-between;
}

.about__logo {
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
    display: flex;
    margin: auto;
    margin-left: 47px;
    margin-top: 35px;
}

.logo-place {
    width: 148px;
    height: 114px;
    margin: auto;
}

.about__column {
    width: 693px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 140px;
    gap: 105px;
}

.about__column_title {
    font-family: 'Raleway';
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;

}

.about__column_paragragh {
    font-family: 'Raleway';
    font-weight: 400;
    font-style: Regular;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;

}

.gap {
    gap: 24px;
    display: flex;
    flex-direction: column;
}

/* Сдесь закончился блок "About" */

.footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 180px;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.footer__address {
    width: 240px;
    gap: 1px;
}

.footer__menu_list {}

.footer__social {
    width: 240px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer__social_link {
    width: 48px;
    height: 48px;
}

.menu-align {
    width: 163px;
    margin-top: 0;
    margin-left: 0;
    flex-direction: column;
    justify-content: start;
    gap: 3px;

}